<!-- Main body content start -->
<main class="main_auth">
    <!-- 10. Auth area start -->
    <section class="auth">
        <div class="container">
            <div class="auth_content">
                <img src="/img/burger.png" alt="">
                <h5 class="mb-4">Sign in to your account</h5>
                <% if(messages.error){ %>
                    <p class="text-center text-danger mb-4">
                        <%= messages.error %>
                    </p>
                    <% } %>
                        <form action="/login" method="POST">
                            <div class="input-group mb-3">
                                <input value="<%= messages.email %>" name="email" type="email" class="form-control"
                                    placeholder="Email address">
                            </div>
                            <div class="input-group mb-3">
                                <input name="password" type="password" class="form-control" placeholder="Password">
                            </div>

                            <div class="form_action">
                                <button type="submit">Login</button>
                                <a href="/register">Don't have account?</a>
                            </div>
                        </form>
            </div>
        </div>
    </section>
    <!-- 10. Auth area end -->
</main>
<!-- Main body content end -->