<!-- Main body content start -->
<main class="main_auth">
    <!-- 11. Auth area start -->
    <section class="auth register">
        <div class="container">
            <div class="auth_content">
                <img src="/img/burger.png" alt="">
                <h5>Create your account</h5>
                <br>
                <form>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Full name">
                    </div>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email address">
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password">
                    </div>

                    <div class="form_action">
                        <button type="submit">Register</button>
                        <a href="login.html">Already have account?</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- 11. Auth area end -->
</main>
<!-- Main body content end -->