<!-- Main body content start -->
<main>
    <!-- 3. Hero section area start -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero_content">
                        <div class="top_title">
                            <img src="/img/hero/title-img.png" alt="">
                            <span>easy to order your food</span>
                        </div>
                        <h1>Order Your Tasty & favourite <span>Burger!</span></h1>
                        <p>Just confirm your order and enjoy our <br> delicious fastest delivery.</p>
                        <a href="#menu">Order Now</a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <img class="img-fluid" src="/img/hero/img-1.png" alt="">
                        </div>
                        <div class="item">
                            <img class="img-fluid" src="/img/hero/img-2.png" alt="">
                        </div>
                        <div class="item">
                            <img class="img-fluid" src="/img/hero/img-3.png" alt="">
                        </div>
                        <div class="item">
                            <img class="img-fluid" src="/img/hero/img-4.png" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 3. Hero section area end -->

    <!-- 3. Why Choose Us section area start -->
    <section class="why_choose">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="/img/why_choose/img-1.jpg" class="why_choose_img" alt="">
                </div>
                <div class="col-lg-6">
                    <div class="why_choose_content">
                        <div class="content_header">
                            <span>Why Choose Us?</span>
                        </div>
                        <br>
                        <div class="content_body">
                            <h3 class="title mb-3">What's Make Our Burger Delicious!</h2>
                                <p><strong>Au Cheval</strong>, Chicago. Voted the best burger in the world by The
                                    Burger Guide, Au
                                    Cheval serves up double and single cheeseburgers - with the option of adding
                                    bacon and egg - in a stylish diner setting.
                                </p>
                        </div>

                        <div class="content_bottom">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="item">
                                        <img src="/img/why_choose/service/serv-1.png" alt="">
                                        <h5>Fast Delivery</h5>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="item">
                                        <img src="/img/why_choose/service/serv-2.png" alt="">
                                        <h5>Fresh Food</h5>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="item">
                                        <img src="/img/why_choose/service/serv-3.png" alt="">
                                        <h5>Best Quality</h5>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="item">
                                        <img src="/img/why_choose/service/serv-4.png" alt="">
                                        <h5>24/7 Support</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 3. Why Choose Us section area end -->

    <br><br>
    <!-- Banner - 1 start -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div id="banner-adv2" class="banner-adv2">
                        <img src="/img/banner/vbanner-2.jpg" class="img-fluid full-width" alt="banner">
                        <span class="text">
                            Unlimited Free Delivery with.
                            <a href="#">Try 30 Days FREE</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner - end start -->
    <br><br>

    <!-- 4. Popular burger section area start -->
    <section class="popular_burger">
        <div class="container">
            <div class="title text-center">
                <h5>Popular Burger</h5>
            </div>
            <br>
            <br>
            <div class="row mt-3">
                <div class="col-lg-3">
                    <div class="large-product-box mb-xl-20 p-relative">
                        <img src="/img/popularBurger/Banner-1.jpg" class="img-fluid full-width" alt="image">
                        <div class="category-type overlay padding-15 text-center">
                            <button class="category-btn">Most popular near you</button>
                            <a href="#" class="btn-first white-btn text-light-black fw-600 full-width">See all</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row menu_items">

                        <% burgers.forEach((burger)=> { %>
                            <div class="col-lg-3">
                                <div class="menu__content">
                                    <input type="hidden" name="" id="burgerId" value="<%= burger._id %> " />
                                    <img src="/img/popularBurger/card/<%= burger.image %> " class="menu__img"
                                        alt="menuImg">
                                    <h6 class="menu__name">
                                        <%= burger.name %>
                                    </h6>
                                    <span class="menu__price"><em>BDT ~ </em>
                                        <%= burger.price %>
                                    </span>
                                    <button class="button menu__button">
                                        <i class='bx bx-cart'></i>
                                    </button>
                                </div>
                            </div>
                            <% }) %>



                                <!-- <div class="col-lg-3">
                                    <div class="menu__content">
                                        <img src="/img/popularBurger/card/img-1.png" class="menu__img" alt="menuImg">
                                        <h6 class="menu__name">Hamburger</h6>
                                        <span class="menu__price"><em>BDT ~ </em> 319</span>
                                        <span class="button menu__button">
                                            <i class='bx bx-cart'></i>
                                        </span>
                                    </div>
                                </div> -->


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 4. Popular burger section area end -->
</main>
<!-- Main body content end -->