<!DOCTYPE html>
<html lang="en" class="no-js" data-softskill-page="007e9367e767f981c60fbb99">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon icon  -->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <!-- required styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

    <!-- custom styles -->
    <link rel="stylesheet" href="/css/app.css">
    <title>Mr. Burger - Real-time burger</title>
</head>

<body>
    <!-- 1. Scroll to top start -->
    <a href="#" class="scrolltop" id="scroll-top">
        <i class='bx bx-chevron-up scrolltop__icon'></i>
    </a>
    <!-- 1. Scroll to top end -->

    <!-- 2. Header area start -->
    <header class="main_header">
        <div class="container header_items">
            <a class="logo" href="#home">
                <img src="/img/logo.png" alt="logo">
                <div class="logo_name">
                    <span class="mr">Mr.</span>
                    <h1><span>B</span>urger</h1>
                </div>
            </a>
            <nav class="nav__menu">
                <i class='bx bx-x nav-close-btn nav-close'></i>
                <ul class="nav_links">
                    <li>
                        <a href="/" class="active-link nav-close">Home</a>
                    </li>
                    <li>
                        <a href="/menus" class="nav-close">Menus</a>
                    </li>
                    <li>
                        <a href="/orders" class="nav-close">Orders</a>
                    </li>
                    <li>
                        <a href="/login" class="nav-close">Login</a>
                    </li>
                    <li class="register">
                        <a href="/register" class="nav-close">Register</a>
                    </li>
                    <li class="cart_count">
                        <a href="/cart">
                            <i class='bx bx-cart'></i>
                            <span class="badge badge-pill">12</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <i class='bx bx-menu nav-menu-btn'></i>
        </div>
    </header>
    <!-- 2. Header area end -->
    <%- body %>
        <!-- Footer area start -->
        <footer class="footer_section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="logo-part pr-3">
                                    <a href="#home"><img src="/img/logo.png" alt=""></a>
                                    <br>
                                    <p>Shibchar, Madaripur, Bangladesh</p>
                                </div>
                            </div>
                            <div class="col-md-6 px-4">
                                <h6> About - Mr. Burger</h6>
                                <p>Simple node application using real time communication</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-md-6 px-4 useful_link">
                                <h6>Useful link</h6>
                                <div class="row">
                                    <div class="col-lg-6 col-6"><a href="#home"> Home</a></div>
                                    <div class="col-lg-6 col-6"><a href="#about"> Menus</a></div>
                                    <div class="col-lg-6 col-6"><a href="#do"> Orders</a></div>
                                    <div class="col-lg-6 col-6"><a href="#work"> Cart</a></div>
                                </div>
                            </div>
                            <div class="col-md-6 px-4 insta_container">
                                <h6>Socials</h6>
                                <a href="#"> <i class='bx bxl-facebook'></i> </a>
                                <a href="#"> <i class='bx bxl-twitter'></i> </a>
                                <a href="#"> <i class='bx bxl-linkedin'></i> </a>
                                <a href="#"> <i class='bx bxl-youtube'></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center footer_bottom">
                    Copyright Mr. Burger <span class="copyright">&copy;</span> 2022. All Rights Reserved.
                </div>
            </div>
        </footer>
        <!-- Footer area end -->

        <!-- required js -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
            integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

        <!-- custom js -->
        <script src="/js/app.js"></script>

</body>

</html>