// Color
$primary: #e42700;
$secondary: #e6a047;
$dark: #111111;
$pure: white;
$gray: gray;
$light-gray: #585858;
$bg-color: #f7f7f7;
// Font family
$poppins: "Poppins", sans-serif;
$pacifico: "Pacifico", cursive;
$satisfy: "Satisfy", cursive;
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
// Transition
$smooth: all 0.2s ease;
