<!-- Main body content start -->
<main class="main_cart">
    <!-- 12. Cart area start -->
    <section class="cart">
        <div class="container">
            <div class="row" id="ifEmptyCart">
                <div class="col-lg-9">
                    <table class="table table-borderless cart_table">
                        <thead>
                            <tr>
                                <th scope="col">Prodects</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>

                        <tbody id="orderTableBody" class="cart__items">
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-3">
                    <div class="order_summary">
                        <h6 class="title">Order summary</h6>
                        <div class="cart_price">
                            <ul>
                                <li>
                                    <span>Subtotal : </span>
                                    <span>
                                        <em>BTD</em>
                                        <span class="total__cost">0</span>
                                    </span>
                                </li>
                                <li>
                                    <span>Shipping : </span>
                                    <span>
                                        <em>BTD</em>
                                        <span class="shipping__cost">0</span>
                                    </span>
                                </li>
                                <hr>
                                <li>
                                    <span>Total : </span>
                                    <span>
                                        <em>BTD</em>
                                        <span class="total__price">0</span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <form action="">
                            <div class="input-group mb-3">
                                <input type="tel" class="form-control" placeholder="Phone number">
                            </div>
                            <select class="form-select mb-3">
                                <option selected>Cash on delivery</option>
                            </select>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Address">
                            </div>
                            <div class="text-right mt-4">
                                <button type="submit">Order</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 12. Cart area end -->
</main>
<!-- Main body content end -->