<!-- Main body content start -->
<main class="main_menu">
    <!-- 6. Menu top banner area start -->
    <div class="menu_topBanner">
        <div class="text-center">
            <h1 class="text_1">Welcome to Mr. <span>B</span>urger</h1>
            <h1 class="text_2">Each ingredient is made in a healthy way</h2>
        </div>
    </div>
    <!-- 6. Menu top banner area end -->

    <!-- 7. All menus area start -->
    <section class="menus">
        <div class="container">
            <h5 class="page_title">All Menus</h5>
            <div class="row menu_items">
                <div class="col-lg-3">
                    <div class="menu__content">
                        <img src="/img/popularBurger/card/img-1.png" class="menu__img" alt="menuImg">
                        <h6 class="menu__name">Hamburger</h6>
                        <span class="menu__price"><em>BDT ~ </em> 319</span>
                        <button class="button menu__button">
                            <i class='bx bx-cart'></i>
                        </button>
                    </div>
                </div>



                <div class="col-lg-3">
                    <div class="menu__content">
                        <img src="/img/popularBurger/card/img-2.png" class="menu__img" alt="menuImg">
                        <h6 class="menu__name">Buffalo Burger</h6>
                        <span class="menu__price"><em>BDT ~ </em> 230</span>
                        <button class="button menu__button">
                            <i class='bx bx-cart'></i>
                        </button>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="menu__content">
                        <img src="/img/popularBurger/card/img-3.png" class="menu__img" alt="menuImg">
                        <h6 class="menu__name">Kind Burger</h6>
                        <span class="menu__price"><em>BDT ~ </em> 289</span>
                        <button class="button menu__button">
                            <i class='bx bx-cart'></i>
                        </button>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="menu__content">
                        <img src="/img/popularBurger/card/img-4.png" class="menu__img" alt="menuImg">
                        <h6 class="menu__name">Barbecue</h6>
                        <span class="menu__price"><em>BDT ~ </em> 379</span>
                        <button class="button menu__button">
                            <i class='bx bx-cart'></i>
                        </button>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="menu__content">
                        <img src="/img/popularBurger/card/img-5.png" class="menu__img" alt="menuImg">
                        <h6 class="menu__name">Beef Steak</h6>
                        <span class="menu__price"><em>BDT ~ </em> 369</span>
                        <button class="button menu__button">
                            <i class='bx bx-cart'></i>
                        </button>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="menu__content">
                        <img src="/img/popularBurger/card/img-6.png" class="menu__img" alt="menuImg">
                        <h6 class="menu__name">Notsureaz</h6>
                        <span class="menu__price"><em>BDT ~ </em> 799</span>
                        <button class="button menu__button">
                            <i class='bx bx-cart'></i>
                        </button>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="menu__content">
                        <img src="/img/popularBurger/card/img-7.png" class="menu__img" alt="menuImg">
                        <h6 class="menu__name">Double Beef</h6>
                        <span class="menu__price"><em>BDT ~ </em> 366</span>
                        <button class="button menu__button">
                            <i class='bx bx-cart'></i>
                        </button>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="menu__content">
                        <img src="/img/popularBurger/card/img-8.png" class="menu__img" alt="menuImg">
                        <h6 class="menu__name">Chicken Burger</h6>
                        <span class="menu__price"><em>BDT ~ </em> 199</span>
                        <button class="button menu__button">
                            <i class='bx bx-cart'></i>
                        </button>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="menu__content">
                        <img src="/img/popularBurger/card/img-9.png" class="menu__img" alt="menuImg">
                        <h6 class="menu__name">Tikka Burger</h6>
                        <span class="menu__price"><em>BDT ~ </em> 249</span>
                        <button class="button menu__button">
                            <i class='bx bx-cart'></i>
                        </button>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="menu__content">
                        <img src="/img/popularBurger/card/img-10.png" class="menu__img" alt="menuImg">
                        <h6 class="menu__name">French Sarathyy</h6>
                        <span class="menu__price"><em>BDT ~ </em> 429</span>
                        <button class="button menu__button">
                            <i class='bx bx-cart'></i>
                        </button>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="menu__content">
                        <img src="/img/popularBurger/card/img-11.png" class="menu__img" alt="menuImg">
                        <h6 class="menu__name">Spicy Mutton</h6>
                        <span class="menu__price"><em>BDT ~ </em> 433</span>
                        <button class="button menu__button">
                            <i class='bx bx-cart'></i>
                        </button>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="menu__content">
                        <img src="/img/popularBurger/card/img-12.png" class="menu__img" alt="menuImg">
                        <h6 class="menu__name">Domestic Burger</h6>
                        <span class="menu__price"><em>BDT ~ </em> 318</span>
                        <button class="button menu__button">
                            <i class='bx bx-cart'></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 7. All menus area end -->

</main>
<!-- Main body content end -->